<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MEATZE - Control de equipos</title>
	<link th:href="@{/css/index.css}" rel="stylesheet" type="text/css" href="../static/css/index.css">
</head>
<body>
    
    <p class="cabecera">
        <span class="titulo">MEATZE</span>
        <span class="descripcion">Control de equipos</span>
    </p>
    

    <form>
        <h1>Log in</h1>
        <div class="inset">
        <p>
          <label for="usuario">USER</label>
          <input type="text" name="usuario" id="usuario">
        </p>
        <p>
          <label for="contra">PASSWORD</label>
          <input type="password" name="contra" id="contra">
        </p>
        
        </div>
        <p class="p-container">
          <input type="submit" name="go" id="go" value="Log in">
        </p>
      </form>

</body>
</html>